.home__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .home__navbar-title {
    margin-top: 30px;
    color: #c6d4df;
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .home__navbar-link {
    font-size: 13px;
    color: #66c0f4;
    padding: 0;
  }
  
  
  .home__navbar-item {
    /* margin-top: 0px; */
  }
  
  .home__content {
    display: flex;
    gap: 100px;
    margin: 0 auto;
  }
  
  .home__card {
    border: 1px solid #000;
    min-height: 410px;
    max-width: 500px;
    text-align: center;
    background-color: rgba(119, 40, 10, .6);
    box-shadow: -48px 57px 35px 0px rgba(119, 40, 10, 0.52);
  }
  
  .home__card-title {
    font-size: 16px;
    min-height: 58px;
    margin-top: 10px;
  }
  
  .home__card-price {
    margin-top: 10px;
  }
  
  .home__card-btn {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }